#heading{
  padding-left: 25px;
 background-color: #0039a6;
 color: white;
 margin-top: 0px;
padding-bottom: 30px;
padding-top: 30px;
margin-bottom: 10px;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 7px;
  padding: 0;
  width: 100%;
  height: 100vh;
  flex:10;
}
.inputText{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.dropDown{
  margin-left: 20px;
}
.code{
  width: 95%;
  height: 95vh;
  margin-left: 5px;
  margin-right: 10px;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  min-width: 100%;
  resize: none;
  border: 1px solid;
  border-radius: 10px;
  background-color: #f9f9f9;
  margin-top: 5px;
  transition: all 0.5s;
}
.code:hover {
  background-color:  #cee8f9;
}
.code:focus {
  cursor: text;
  color: #333333;
  background-color: #f9f9f9;
}
.otherComp{
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  width: 70%;
  background-color: #f9f9f9;
  padding-right: 5px;
}
.input{
  margin-bottom: 50px;
  margin-left: 10px;
  height: 120px;
  resize: none;
  border-radius: 7px;
  border: 1px solid;
  transition: all 0.5s;
}
.input:hover {
  background-color:  #cee8f9;
}
.input:focus {
  cursor: text;
  color: #333333;
  background-color: #f9f9f9;
}
.output{
  margin-left: 10px;
  margin-bottom: 12px;
  height: 120px;
  resize: none;
  background-color: #f9f9f9;
  border-radius: 7px;
  border: 1px solid;
  transition: all 0.5s;
}

.output:focus {
  cursor: text;
  color: #333333;
  background-color: #f9f9f9;
}
.btns{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}
.btn-run{
  width: 50%;
  height: 35px;
  margin-right: 30px;
  border-radius: 7px;
  border: 1.5px solid;
  font-size: 1rem;
  transition: all 0.5s;
}
.btn-run:hover{
  color:  white;
  background-color: #0039a6;
}
.btn-submit{
  width: 50%;
  height: 35px;
  border-radius: 7px;
  border: 1.5px solid;
  font-size: 1rem;
  background-color:  #87CEFA;
  transition: all 0.5s;
}
.btn-submit:hover{
  color:  white;
  background-color: #0039a6;
}
.Nav{
 padding-left: 25px;
 /* background-color: #b0aeae; */
 color: white;
 background-color: #0039a6;
 margin-top: 0px;
 padding-bottom: 18px;
 padding-top: 30px;
 margin-bottom: 10px;
 position: fixed;
 width: 100%;
 display: flex;
}
.set{
 display: flex;
flex-direction: column;
justify-content: center;
padding: 20px;
padding-top: 155px;
  padding-right: 0px;
  padding-left: 0px;
width: 100%;
}
.problem{
  /* background-color: #e8e3e3; */
  background-color:  #cee8f9;
  width: 50%;
  height: 100px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin-left: 25%;
  font-size: 1.1rem;
}
.problem:hover{
  background-color: #87CEFA;
}
.prob-name{
  flex: 5;
  justify-content: flex-start;
  
}
.prob-arrow{
  flex: 0.25;
  justify-content: flex-end;
  background-color: #0039a6;
  border: 0;
  margin-right: 20px;
  color: white;
  font-weight: 1000;
  padding-bottom: 2px;
}
.submit-heading{
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.sub-name{
  flex: 1;
}
.sub-ver{
  flex: 1;
}
.sub-btn{
  background-color: red;
  color: white;
  padding: 7px;
  margin: 10px;
  border: 0;
}
.prob-heading{
  flex: 8;
}
.log-in{
  margin: 7px;
  width: 100px;
height: 45px;
border: 0;
font-size: 1.1rem;
}
.log-in:hover{
  opacity: 0.7;
}
.sign-in{
  margin: 7px;
  width: 120px;
height: 45px;
margin-right: 30px;
background-color: #87CEFA;
font-size: 1.1rem;
border: 0;
}
.sign-in:hover{
  opacity: 0.7;
}
.signin-form{
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
  margin-top: 10%;
  padding-top: 4%;
  padding-bottom: 5%;
  border-radius: 14px;
  border-top-style: solid;
border-top-width: 2px;
border-left-width: 2px;
border-left-style: solid;
border-right-width: 2px;
border-right-style: solid;
border-bottom-width: 2px;
border-bottom-style: solid;
}
.input-form{
  margin: 1%;
  width: 50%;
  padding-top: 1.5%;
  padding-bottom: 1%;
  padding-left: 1%;
  font-size: 1.05rem;
  border: 0;
  border-radius: 7px;
  border-top-style: solid;
  border-top-width: 1px;
  border-left-width: 1px;
  border-left-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.input-form:hover{
  background-color: #cee8f9;
}
.input-form::placeholder{
  color: #333333;
}
.btn-form{
  background-color: #0039a6;
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  color: white;
  font-size: 1.05rem;
  border: 0;
  border-radius: 6px;
  margin-top: 12px;
}
.side-bar{
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #dfe7ed;
  flex:2;
}
.side-nav{
  background-color: #0039a6;
  width: 100%;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.5rem;
  padding-left: 13px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-body{
 display: flex;
 flex-direction: column;
}
.side-ele{
 background-color: #87CEFA;
 margin: 20px;
 padding: 15px;
 border: 0;
 font-weight: 700;
 font-size: 1.05rem;
}
.side-ele:hover{
  opacity: 0.8;
}
.total-code{
  display: flex;
  flex-direction: row;
}
.container-1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}
.addForm{
  margin: 25px;
}
#contri{
  position: fixed;
right:    10px;
bottom:   10px;
font-weight: 500;
font-size: 1.3rem;
}